
  
  <!-- BG Section -->

  <app-bg-section *ngFor="let p of InfoOfSectionBG" [bgSectionInfo]="p"></app-bg-section>
  




<!-- Carousel Section -->
<app-carousel  [carouselSection]="Products"   (productSelected)="onProductSelect($event)">  </app-carousel>


<!-- cards section -->
   <section class="d-flex justify-content-center align-items-center" style="margin-top: 250px; ">
   
     <div class="container" *ngIf="selectedProduct">
        <div class="row my-5">
            <div class="col-">
                <h1 class="text-center  fw-bold">{{selectedProduct.name}}</h1>
               
            </div>
        </div>

      <div class="row justify-content-center">
        <div *ngFor="let card of selectedProduct.cards" class="col-md-3 mb-4 d-flex flex-wrap">
          
          <app-shop-cards [product]="card"></app-shop-cards>

        </div>
      </div>
    </div> 

    
    <div class="container" *ngIf="!selectedProduct">
      <p class="text-center my-3">Select a product to see its details.</p>
    </div>

  </section>
   