
<section class="sec-height position-relative overflow-hidden " >
    <div class="container-fluid h-100">
      <div class="row h-100 position-relative">
        <!-- Background Image -->
        <img [src]="bgSectionInfo.image" alt="Background Image" class="img-fluid object-fit-cover w-100 h-100" style="margin: 0;padding: 0;">
        <div class="card-img-overlay bg-black bg-opacity-50">

        <!-- Centered Title and Breadcrumb -->
        <div class="position-absolute top-50 start-50 translate-middle text-center">
          <div class="col-12">
            <h1 class="fw-bold text-white">{{bgSectionInfo.title}}</h1>
            <p class="d-flex justify-content-center text-secondary">
              <a routerLink="/Home" class="text-decoration-none text-secondary"> {{bgSectionInfo.subTitle1}}</a> <a routerLink="/shopProduct" class="text-decoration-none text-secondary"> <span class="mx-2"> <i class="fas fa-chevron-right" style="font-size: 8px"></i> </span>
              {{bgSectionInfo.subTitle2}} </a>
              
              <a routerLink="/shopProductDetails" class="text-decoration-none text-secondary">   <span class="mx-2" *ngIf="bgSectionInfo.subTitle3"> <i class="fas fa-chevron-right" style="font-size: 8px"></i> </span> {{bgSectionInfo.subTitle3}}</a>
            </p>
          </div>
        </div>
        </div>
        
    
      </div>
    </div>
  </section>