    



          <div class="d-flex align-items-center"  *ngFor="let review of comment">
            <div class="image-container mx-3 my-3">
              <img src="images/chair.jpg" class="img-fluid rounded-circle object-fit-cover" alt="Chair Image" style="width: 80px; height: 80px;">
            </div>
            <div class="flex-grow-1">
              <div class="card-body p-0">
                <h5 class="card-title mb-2">
                  <a href="#" class="text-decoration-none text-black fw-bold">{{review.reviewerName}}</a>
                  <app-rating [maxRating]="5" [(currentRating)]="review.rating" [isEditable]="true">
                  </app-rating>
                </h5>
                <p class="mb-0 text-muted">
                  {{review.comment}}
              </p>
              </div>
            </div>
          </div>
      






