<footer class="footer bg-black text-light pt-5 pb-4">
  <div class="container">
    <div class="row">
      
      <!-- Logo & About -->
      <div class="col-lg-3 col-md-6 mb-4 text-center text-md-start">
        <img src="logo/logo.png" alt="Logo" class="footer-logo mb-2">
        <p>Shop the latest trends with great deals. Fast shipping & 24/7 support.</p>
      </div>

      <!-- Quick Links -->
      <div class="col-lg-3 col-md-6 mb-4">
        <h5 class="text-uppercase">Quick Links</h5>
        <ul class="list-unstyled">
          <li><a routerLink="/Home" class="footer-link">Home</a></li>
          <li><a routerLink="/shop" class="footer-link">Shop</a></li>
          <li><a routerLink="/shop" class="footer-link">Deals</a></li>
          <li><a routerLink="/Contact" class="footer-link">Contact Us</a></li>
        </ul>
      </div>

      <!-- Customer Service -->
      <div class="col-lg-3 col-md-6 mb-4">
        <h5 class="text-uppercase">Customer Service</h5>
        <ul class="list-unstyled">
          <li><a  routerLink="/FQA" class="footer-link">FAQs</a></li>
          <li><a  routerLink="/terms" class="footer-link">Returns & Exchanges</a></li>
          <li><a  routerLink="/terms" class="footer-link">Shipping Info</a></li>
          <li><a routerLink="/privacy" class="footer-link">Privacy Policy</a></li>
        </ul>
      </div>

      <!-- Social Media -->
      <div class="col-lg-3 text-center">
        <h5 class="text-uppercase">Follow Us</h5>
        <div class="social-icons mt-2">
          <a href="www.facebook.com" target="_blank" class="text-light me-3"><i class="fa-brands fa-facebook-f"></i></a>
          <a href="www.twitter.com" target="_blank" class="text-light me-3"><i class="fa-brands fa-twitter"></i></a>
          <a href="www.instagram.com"  target="_blank" class="text-light me-3"><i class="fa-brands fa-instagram"></i></a>
          <a href="https://www.linkedin.com/" target="_blank" class="text-light"><i class="fa-brands fa-linkedin"></i></a>
        </div>
      </div>

    </div>

    <hr class="mt-4 border-secondary">

    <div class="text-center">
      <p>© 2025 E-Shop. All Rights Reserved.</p>
    </div>

  </div>
</footer>
