.nav-link{color: black;}
.nav-link:hover , .nav-item i:hover{color: #3b5d50;
cursor: pointer;

}
.navbar {
    background-color: #fff;position: relative;top:0
  }
  
  .user-navbar {
    background-color: #3b5d50;position: relative;top:0
  }